.horizontal-scroll-section {
  width: 100%;
  overflow: hidden;
  position: relative;
  background: #f0f0f0;
  padding: 0;
}

.animation-container {
  display: flex;
  width: max-content;
  animation: scroll-horizontal-right 60s linear infinite;
}

.animation-item, .animation-item-below{
  width: 4.5rem;
  flex-shrink: 0;
  margin: 0 -1rem;
}

.animation-item div, .animation-item-below div{
  width: 100% !important;
  height: 2rem !important;
}

@keyframes scroll-horizontal-right {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0%);
  }
}

.horizontal-scroll-section::before,
.horizontal-scroll-section::after {
  content: '';
  position: absolute;
  top: 0;
  height: 100%;
  width: 3.13rem;
  z-index: 2;
}

.horizontal-scroll-section::before {
  left: 0;
  background: linear-gradient(to right, #f0f0f0, transparent);
}

.horizontal-scroll-section::after {
  right: 0;
  background: linear-gradient(to left, #f0f0f0, transparent);
}

.animation-item:hover, .animation-item-below:hover{
  filter: brightness(1.3);
  transform: scale(1.05);
  transition: transform 0.2s ease;
}

.horizontal-scroll-section.bottom-fixed {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}

.animation-container-below {
  display: flex;
  width: max-content;
  animation: scroll-horizontal-left 60s linear infinite;
}

@keyframes scroll-horizontal-left {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

