.header {
  height: 4.37rem;
  background-color: #E8EFE0;
}

.body {
  background-image: url(./assets/images/10223960.jpg);
  background-size: contain;
  background-size: cover;
  /* background-position: center; */
  background-repeat: no-repeat;
  width: 100%;
  min-height: 75vh;
  margin-bottom: 0;
}

.footer {
  height: 6vh;
  background-color: #F6AF9D;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer h3 {
  margin: 0; 
  padding: 0; 
}